body{
    font-style: normal;
    background: #f2f4f7;
}

th,td {
    border: black solid 1px; 
    padding: 2px;
}

table {
    border-collapse:  collapse;
}

ul {
    list-style: none;
    padding-left: 0;
}

.content{
    padding: 0 5px;
}

.elm_center{
    margin:0 auto;
}

.link_text{
    color: #00008b;
}

.link_text:hover{
    cursor: pointer;
}

.text_center{
    text-align: center;
}

.text_left{
    text-align: left;
}

.error_text,
.red_text{
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.litte_bold_text{
    font-weight: bold;
    font-size: 12px;
}

.opacity0{
	opacity: 0;
}

.w_50{
    width: 50px;
}

.w_75{
    width: 75px;
}

.w_100{
    width: 100px;
}

.w_150{
    width: 150px;
}

.w_200{
    width: 200px;
}

.w_225{
    width: 225px;
}

.w_250{
    width: 250px;
}

.w_350{
    width: 350px;
}

.w_400{
    width: 400px;
}

.mb_10{
    margin-bottom: 10px;
}

.mb_20{
    margin-bottom: 20px;
}

.mb_30{
    margin-bottom: 30px !important;
}

.mb_40{
    margin-bottom: 40px !important;
}

.mt_10{
    margin-top: 10px !important;
}

.mt_20{
    margin-top: 20px !important;
}

.mt_30{
    margin-top: 30px !important;
}

.line_height_15{
	line-height: 1.5em;
}

.font_size_12{
    font-size: 12px;
}

.font_size_15{
    font-size: 15px;
}

.font_size_20{
    font-size: 20px;
}

.font_size_25{
    font-size: 25px;
}

.font_size_30{
    font-size: 30px;
}

.active_row_0{
    background-color: gray;
}

.form_label{
    float: left;
    font-weight: bold;
    font-size: 15px;
}

.float_left{
    float: left;
}

.bordr_top{
	border-top: 3px solid gray;
}

.bordr_bottom{
	border-bottom: 3px solid gray;
}

.under_line_text{
    text-decoration:underline;
    font-weight: lighter;
    cursor:pointer;
}

.bold{
    font-weight: bold;
}

.lighter{
    font-weight: lighter;
}

.disp_none{
    display: none;
}

.disp_none_imporatant{
    display: none !important;
}

.button_yes
, .button_no{
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    background    : #87cefa;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 5px #666666;  /* 影の設定 */
    width         : 75px;
    margin        : 0 10px;
}


/*yes noボタン*/
.button_img_yes
, .button_img_no{
    width: 30%;
    cursor: pointer;   
}

.button_img_yes img
, .button_img_no img{
    width: 100%;
}

.button_img_border{
    border: 3px solid white;
}

.button_img_border_selected{
    border: 3px solid #ffa500;
}

.font_yes, .font_no{
    font-size: 20px;
    font-weight: bold;
}

.font_yes{
    color: #1e90ff;
}

.font_no{
    color: #3cb371;
}

/*共通ボタン*/
.main_button{
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 13px 16px;   /* 余白       */
    background    : #87cefa;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 5px #666666;  /* 影の設定 */
    width         : 200px;
    margin: 10px 0;
}

.main_button_disabled,
.gray_back{
    background: #00000070 !important;
}

/*小さめボタン*/
.min_button{
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 12px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #87cefa;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 5px #666666;  /* 影の設定 */
    width         : 200px;
    margin: 5px 0;
}

/*画面更新ボタン*/
.updale_button{
    border-radius : 1%;          /* 角丸       */
    font-size     : 12px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #87cefa;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 5px #666666;  /* 影の設定 */
    text-align: center;
    margin-top: 10px;
}

/*幅広いボタン*/
.wide_button{
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 12px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #87cefa;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 5px #666666;  /* 影の設定 */
    width         : 90%;
    margin: 5px 0;
}

/*カードボタン*/
.card_btn{
    width         : 200px;
    cursor        : pointer;   
}
.card_omote{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.card_btn img,
.card_omote img{
    height: 270px;
}

/*カードの表の文字*/
.text_card_omote{
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    width: 90%;
}

.current_status{
    background    : #ffa500 !important; 
}

.main_button:hover,
.min_button:hover,
.button_yes:hover, 
.button_no:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}

/*ヘッダー*/
.head{
    text-align: center;
    font-size: 17px;
    padding: 5px 0;
    background-color: white;
    margin-bottom: 10px;
}

.head_login{
	position: absolute;
	font-size: 12px;
	right: 10px;
	font-weight: bold;
}

.head_normal{
    text-align: right;
	position: absolute;
	font-size: 12px;
	right: 10px;
}

.head_color_login{
	background-color: #f0e68c;
}

/*top 専用*/
.top_button{
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 30px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 13px 5px;   /* 余白       */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 5px #666666;  /* 影の設定 */
    width         : 150px;
    height         : 90px;
    margin: 0 5px;
}

.top_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}

.top_button_1{
    background-color: #ffa500;
}

.top_button_2{
    background-color: #87cefa
}

/*会議作成専用*/
.meeting_create{
    max-width: 400px;
    margin: 0 auto;
}

.meeting_create input[type="text"],
.meeting_create input[type="number"]{
    width: 90%;
}

/*役割・アクション表示*/
.main_text_span{
    opacity: 0;
}

@keyframes showtext{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.self_answer_row{
    background: #ffa500;
}

/*ポップアップ関連*/
.overlay {
	display: none;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: left;
}
.window li{
    margin: 5px 0;
    text-align: center;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

.manual_area{
    border: 2px solid;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.paticipans_table th{
    background-color: #87cefa;
    border-width: 1px 0px;
    border-top: 2px solid #a9a9a9;
}

.paticipans_table td{
    border-width: 1px 0px;
    border-color: #a9a9a9;
}

.paticipans_table{
    background-color: white;
    font-size: 12px;
    border: 2px solid #a9a9a9;
}

textarea{
	resize: none;
	width:400px;
	height:200px;
}

.show_textarea{
	font-size: 16px;
	background-color: white;
	color: black;
	border: 2px solid #a9a9a9;
}

/*admin 専用*/
.admin_form_div{
    width: 350px;
    margin: 0 auto;
}

.admin_form_div input[type="text"]{
    width: 100%;
}

.admin_form_div input[type="radio"]{
    float: left;
}

.admin_form_div select{
    width: 100%;
}

.admin_table th{
    background-color: #87cefa;
    border-width: 1px 0px;
    border-top: 2px solid #a9a9a9;
}

.admin_table td{
 	border-width: 1px 0px;
    border-color: #a9a9a9;
}

.admin_table_title{
    font-size: 20px;
}

.admin_table{
    background-color: white;
    font-size: 12px;
    border: 2px solid #a9a9a9;
}

.admin_form .input_text{
    border: 2px solid #a9a9a9;
}

/*Explode(標本システム関係なし)*/
#explode_main_div{
    position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
}

#explode_main_div canvas{
    background-color: #000020;
}

#bottom_btn_div{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -250%);
}

#bottom_btn_div a{
    margin: 0 10px;
}

.body_exlode{
    background-color: #000000;
}

#explode_border{
    position: absolute;
    width: 100%;
    height: 100%;
    border: #000000 100px solid;
    z-index: 1;
}

.top_white{
    position: absolute;
    background-color: #ffffff;
    height: 150px;
    width: 100%;
}

#title_area{
    background-color: #ffffff;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
}

#ThreeJS{
    background-color: #000000;
    width: 100%;
    height: 99.6%;
}

#ThreeJS canvas{
    width: 100%;
    height: 99.6%;
}

.konton_w90per{
    width: 90%;
    max-width: 400px;
}

.img_100per{
    width: 100%;
}

.select_white_border{
    background: white;
    border: 2px solid #a9a9a9;
}

.honan_color{
    -webkit-text-stroke: 1px black; /* webkitのベンダープレフィックス */
    text-stroke: 1px black;         /*　ベンダープレフィックスのない指定方法 */
}