th,td {
    border: black solid 1px; 
    padding: 2px;
}

table {
    border-collapse:  collapse;
}

.elm_center{
    margin:0 auto;
}

.link_text{
    color: #00008b;
}

.text_center{
    text-align: center;
}

.error_text{
    color: red;
}

.w_50{
    width: 50px;
}

.w_150{
    width: 150px;
}

.w_200{
    width: 200px;
}

.w_250{
    width: 250px;
}

.w_350{
    width: 350px;
}

.w_400{
    width: 400px;
}

.mb_10{
    margin-bottom: 10px;
}

.active_row_0{
    background-color: gray;
}

/*admin 専用*/
.admin_table th{
    background-color: #ffb6c1;
}

.admin_table_title{
    font-size: 20px;
}

.admin_table{
    background-color: #fffafa;
    font-size: 12px;
}

.admin_form .input_text{
    border: 2px solid #ddd;
}